[submodule "themes/terminal"]
	path = themes/terminal
	url = https://github.com/panr/hugo-theme-terminal.git
[submodule "public"]
	path = public
	url = git@github.com:matusso/matusso.github.io.git
	branch = master
[submodule "themes/the-roots-home"]
	path = themes/the-roots-home
	url = git@github.com:rmsubekti/the-roots-home.git
[submodule "themes/hugo-theme-shell"]
	path = themes/hugo-theme-shell
	url = https://github.com/Yukuro/hugo-theme-shell.git
[submodule "themes/hugo-PaperMod"]
	path = themes/hugo-PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
